:root {
    --background-color: #FDCBA9;
    --secondary-color: #FFE0C5;
    --font-family: 'Arial', sans-serif;
    --text-color: #3A2A1D;
    --axis-title-color: #601B04;
    --light-text-color: #8e7d70;
    --dark-text-color: #27170a;
    --button-active-color: #D97950;
    --button-hover-color: #FC9E76;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--secondary-color);
    text-align: center;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 36px;
    color: var(--text-color);
}

.sidebar {
    position: fixed;
    right: 0;  
    top: 50%;  
    transform: translateY(-50%);
    height: 30vh;
    width: 100px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px 0 0 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.sidebar button {
    background: none;
    border: none;
    font-size: 16px;
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: color 0.3s;
}

.sidebar button.active {
    color: var(--button-active-color);
    font-weight: bold;
}

.visual-section {
    width: 90%;
    max-width: 1200px;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-description {
    margin-bottom: 100px
}

.data-viz {
    margin-bottom: 120px;
}

.title {
    align-self: flex-start;
    margin-bottom: 6px;
    padding-left: 40px;
    font-size: 12px;
    color: var(--light-text-color);
}

.visualization-container {
    width: 1510px;
    height: 920px;
    padding: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
}

.graph-title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: var(--dark-text-color);
    font-family: 'Inter';
    text-transform: uppercase;
    white-space: normal;

}

.description {
    width: 100%;
    max-width: 1200px;
    margin-top: 25px;
    text-align: justify;
    color: var(--text-color);
}

.center {
    text-align: center;
}

.graph-and-controls {
    display: flex;
    height: 90%;
    gap: 5px;
}

.graph {
    flex: 1;
    padding-block: 15px;
}

.graph-container {
    display: flex;
    width: 100%;  
    height: 100%; 
}



.tooltip {
    position: absolute;
    z-index: 99999;
    pointer-events: none;
}

.toggle-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: var(--secondary-color);
}

.toggle-button {
    width: 100px;
    height: 40px;
    padding: 0;
    border: 3px solid var(--background-color);
    background: none;
    color: var(--text-color);
    font-weight: normal;
    font-family: 'Inter';
    cursor: pointer;
    font-size: 16px;
    position: relative;
    transition: background 0.3s, color 0.3s;
    text-align: center;
}

.toggle-button.active {
    font-weight: bold;
    color: var(--dark-text-color);
    background-color: var(--button-hover-color);
}

.toggle-button.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--button-active-color);
}

.controls-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    align-self: center;
}

.year-slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    width: 150px;
    color: var(--text-color);
}

.year-slider label {
    margin-bottom: 10px;
}


.slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75%;
    position: relative;
    margin-top: 40px;
    margin-left: 66px;
    gap: 20px;
}

.slider-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.vertical-slider {
    writing-mode: vertical-lr;
    width: 20px;
    height: 100%;
    transform: rotate(180deg);
}

input[type=range] {
    -webkit-appearance: none; 
    width: 100%; 
    background: transparent; 
}

.vertical-slider::-webkit-slider-runnable-track {
    background: var(--button-hover-color);
    width: 6px;
    border-radius: 3px;
}

.vertical-slider::-moz-range-track {
    background: var(--button-hover-color);
    width: 6px;
    border-radius: 3px;
}


.vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--button-active-color);
    border: 2px solid white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    margin-left: -9px;
    cursor: pointer;
}

.vertical-slider::-moz-range-thumb {
    background: var(--button-active-color);
    border: 2px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.vertical-slider {
    -webkit-appearance: slider-vertical;
}

.year-label {
    cursor: pointer;
    transition: font-weight 0.2s;
}

.year-label.active {
    font-weight: bold;
}

.noUi-target.noUi-vertical {
    width: 6px !important;
    margin: 0 auto;
    background: var(--button-hover-color) !important;
    border-radius: 3px;
}

.noUi-connects {
    width: 6px;
}

.noUi-connect {
    background: var(--button-active-color) !important;
    width: 6px !important;
}

.noUi-handle {
    width: 14px !important;
    height: 14px !important;
    border-radius: 50% !important;
    background: white !important;
    border: 2px solid var(--button-active-color) !important;
    box-shadow: none !important;
    cursor: pointer;
}

.noUi-handle:focus {
    outline: none;
    box-shadow: none;
}

.radar-chart-container {
    width: 220px;
    height: 220px; 
    position: relative; 
}

.rader-chart-graph {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 80%;

}

.chart-visualization-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    flex-wrap: nowrap;
    width: 90%;
}
  
.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 20%;
    position: relative;
}
  
.blocks {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
}
  
.blocks > div {
    width: 160px;
    height: 60px;
    background-color: var(--button-hover-color);
    border-radius: 3px;
}

.graph-legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
    color: var(--dark-text-color);
    font-family: var(--font-family);
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-color {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #444;
}

.controls-wrapper {
    position: absolute;
    top: 120px;
    left: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}

.y-axis-label {
    transform: rotate(-90deg);
}

.x-axis-label,
.y-axis-label {
    fill: var(--axis-title-color);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-anchor: middle;
}

select {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;    
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--button-hover-color);
    padding: 8px 12px;
    font-family: var(--font-family);
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

select {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill='%233A2A1D' d='M6 8L0 0h12z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px 8px;
    padding-right: 36px;
}

.controls-viz3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.graph3 {
    flex: 1;
    height: 85%;
    width: 90%;
}

.legend{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.legend-container {
    margin-top: 50px;
    margin-left: 40px;
    width:  100%;
    height: 100%;
    max-width: 130px;
    max-height: fit-content;
}

.season-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
