:root {
    --background-color: #FDCBA9;
    --secondary-color: #FFE0C5;
    --font-family: 'Arial', sans-serif;
    --text-color: #3A2A1D;
    --axis-title-color: #601B04;
    --light-text-color: #8e7d70;
    --dark-text-color: #27170a;
    --button-active-color: #D97950;
    --button-hover-color: #FC9E76;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--secondary-color);
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    padding: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 36px;
    color: var(--text-color);
}

.sidebar {
    position: fixed;
    right: 0;  
    top: 50%;  
    transform: translateY(-50%);
    height: 30vh;
    width: 100px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    padding-top: 20px;
}

.sidebar button {
    background: none;
    border: none;
    font-size: 16px;
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: color 0.3s;
}

.sidebar button.active {
    color: var(--button-active-color);
    font-weight: bold;
}

.visual-section {
    width: 90%;
    max-width: 1200px;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    align-self: flex-start;
    margin-bottom: 6px;
    padding-left: 40px;
    font-size: 12px;
    color: var(--light-text-color);
}

.visualization-container {
    width: 90%;
    aspect-ratio: 16 / 9;
    padding: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
}

.graph-title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: var(--dark-text-color);
    font-family: 'Inter';
    text-transform: uppercase;
    white-space: normal;

}

.description {
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
    text-align: justify;
    color: var(--text-color);
}

.graph-and-controls {
    display: flex;
    height: 90%;
    gap: 5px;
}

.graph {
    flex: 0.9;
    padding-block: 15px;
}

.tooltip {
    position: absolute;
    z-index: 99999;
    pointer-events: none;
}

.toggle-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: var(--secondary-color);
}

.toggle-button {
    width: 100px;
    height: 40px;
    padding: 0;
    border: 3px solid var(--background-color);
    background: none;
    color: var(--text-color);
    font-weight: normal;
    font-family: 'Inter';
    cursor: pointer;
    font-size: 16px;
    position: relative;
    transition: background 0.3s, color 0.3s;
    text-align: center;
}

.toggle-button.active {
    font-weight: bold;
    color: var(--dark-text-color);
    background-color: var(--button-hover-color);
}

.toggle-button.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--button-active-color);
}

.controls-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    align-self: center;
}

.year-slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    width: 150px;
    color: var(--text-color);
}

.year-slider label {
    margin-bottom: 10px;
}

#yearRange {
    width: 100%;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75%;
    position: relative;
    margin-top: 40px;
    margin-left: 66px;
    gap: 20px;
}

.slider-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.vertical-slider {
    writing-mode: vertical-lr;
    width: 20px;
    height: 100%;
    transform: rotate(180deg);
}

#yearRange::-webkit-slider-runnable-track {
    background: var(--button-hover-color);
    width: 6px;
    border-radius: 3px;
}

#yearRange::-moz-range-track {
    background: var(--button-hover-color);
    width: 6px;
    border-radius: 3px;
}

#yearRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--button-active-color);
    border: 2px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    cursor: pointer;
}

#yearRange::-moz-range-thumb {
    background: var(--button-active-color);
    border: 2px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    cursor: pointer;
}



.year-label {
    cursor: pointer;
    transition: font-weight 0.2s;
}

.year-label.active {
    font-weight: bold;
}

#yearRange.noUi-vertical {
    height: 400px !important;
    margin: 0 20px;
}

.noUi-target.noUi-vertical {
    width: 6px !important;
    margin: 0 auto;
    background: var(--button-hover-color) !important;
    border-radius: 3px;
}

.noUi-connects {
    width: 6px;
}

.noUi-connect {
    background: var(--button-active-color) !important;
    width: 6px !important;
}

.noUi-handle {
    width: 14px !important;
    height: 14px !important;
    border-radius: 50% !important;
    background: white !important;
    border: 2px solid var(--button-active-color) !important;
    box-shadow: none !important;
    cursor: pointer;
}

.noUi-handle:focus {
    outline: none;
    box-shadow: none;
}

.radar-chart-container {
    width: 220px;
    height: 220px; 
    position: relative; 
}

.chart-visualization-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    flex-wrap: nowrap;
  }
  
  .podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 25%;
    position: relative;
  }
  
  .blocks {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
  }
  
  .blocks > div {
    width: 160px;
    height: 50px;
    background-color: var(--button-hover-color);
    border-radius: 3px;
  }
  

.graph-legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
    color: var(--dark-text-color);
    font-family: var(--font-family);
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-color {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #444;
}

.controls-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}